*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #4d4d4d;
}
#login{
background-color:  white;
width: 500px;
height: 500px;
position: absolute;
top: -400px;
left: 30%;
border-radius: 20px;
padding: 40px;
}
#login h1{
    color: #4d4d4d;
}
#login input{
    height: 40px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    color: #4d4d4d;
    outline-color: none;
    background-color: #eeeeee;
}
#login button{
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: #4d4d4d;
    color: white;
    border: none;
    border-radius: 10px;
    display: block;
    margin-top: 20px;
}
.alerta{
    background-color: red;
    color: white;
    padding: 2px;
    display: block;
    display: none;
}
#Elemento{
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 200px;
    left: 200px;
    background-color: white;
}
#Elemento h2{
    color: #4d4d4d;
    padding-top: 20px;
    font-size: 2rem;
}
#Opciones{
    position: absolute;
    width: 200px;
    min-height: 300px;
    top: 50px;
    right: 200px;
}
#Opciones ul li{
  list-style: none;
  width: 100%;
  display: block;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  margin-top: 10px;
}
#Opciones ul li:hover{
  cursor: move;
  border: 3px dashed red;
}
#Opciones ul li h2{
  font-size: 4rem;
  color: #4d4d4d;
  padding-top: 30px;
  text-align: center;
}
